<div class="container-fluid">
    <div class="row">
        <div class="d-flex p-5 text-align-center justify-content-center custom-bg">
            <h2 class="text-success">
                Movie Search
            </h2>
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-center">
    <form [formGroup]="movieForm" class="col-sm-12 col-md-4">
            <div class="input-group mb-3">
            <input formControlName="without_keywords" (keyup)="typeEvent($event)" type="text" class="form-control" >
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </span>
        </div>
    </form>
    <!-- <form class="col-sm-12 col-md-4">
        <div class="input-group mb-3">
        <input [(ngModel)]="movieQuery" (change)="typeEvent($event)" name="movie" type="text" class="form-control" >
        <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
        </span>
    </div>
    </form> -->
    </div>
    <div *ngIf="!isLoading, else loading" class="row gap-3 d-flex justify-content-center p-5">
        <div class="col-sm-12 col-md-4" *ngFor="let movie of tableMovies">
            <app-card [imageUrl]="movie.poster_path" [title]="movie.title" [description]="movie.overview" link="/"></app-card>
        </div>
    </div>

    <ng-template #loading>
        Aguarde estamos procurando filmes...
    </ng-template>
</div>